:root {
  --grey-shade1: #1c1c1f;
  --grey-shade2: #424149;
  --grey-shade3: #625e79;
  --grey-shade4: #8781a4;
  --grey-shade5: #b1acc7;
  --grey-shade6: #dcdae7;
}

/* Source */
/* https://fonts.google.com/specimen/Open+Sans */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype"),
    url("../fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf") format("truetype"); /* Turns out Firefox rejects .ttf and needs truetype format. */
  font-weight: 400;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "sans-serif";
  background-color: var(--grey-shade1);
  display: flex;
  flex-direction: column;
}

#header {
  height: 5%;
  background-color: var(--grey-shade2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid 2px;
  border-color: var(--grey-shade4);
  font-family: "Open Sans", "sans-serif";
  font-size: 35px;
  color: var(--grey-shade6);
}

#scenes {
  height: 95%;
  display: flex;
}

.half {
  height: 100%;
  width: 50%;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#left-half {
  padding: 20px 10px 20px 20px;
}

#right-half {
  padding: 20px 20px 20px 10px;
}

#left-canvas {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#right-canvas {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
